.joke {
    margin-top:5%;
    font-size: 200%;
}
.joketext {
    padding-top: 10%;
}
.jokebut {
    margin-top: 20%;
    font-size: 100%;
    width: 80%;
}
.smirky {
    width: 20%;
    padding-left: 5%;
}